<!DOCTYPE html>
<html>
<head>
  <title>Postulation</title>
  <%= stylesheet_link_tag    "postulation/application", media: "all" %>
  <%= javascript_include_tag "postulation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
